.flex-form {
  display: flex;
}
.custom-form {
  display: flex;
  width: 300px;
  justify-content: center;
  flex-direction: column;
  line-height: 22.3151px;
}
.flex-image {
  padding-left: 20px;
  display: flex;
  width: 50%;
  align-items: center;
}

.submit-button,
.reset-button {
  font-size: 15px;
  padding: 8px;
}
.reset-button {
  margin-left: 20px;
}

.submit-button:disabled,
.submit-button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.wrap-error {
  word-wrap: break-word;
}
.add-pic {
  text-align: center;
}
.label-upload-pic {
  cursor: pointer;
}
#upload-photo {
  opacity: 0 !important;
  position: absolute !important;
  z-index: -1 !important;
}
